.main_block img{
	width: 100%;
}

.guide{
	//background-color: #CCCCCC;
	width: 80px;
	height: 46px;
	text-align: center;
	margin: 0px auto;
	padding: 0px auto;
	display: table-cell;
}

.title{
	font-family: tahoma;
	font-weight: bold;
}

.main_block{
	//background-color: #DDFFFF;
	width: 980px;
	height: 1100px;
	margin: 0px auto;
}

.intr{
	font-family: Open Sans;
	font-size: 22px;
}

.intr2{
	font-family: Open Sans;
	font-weight: bold;
	font-size: 18px;
	margin-top: 80px;
}

.intr3{
	font-family: Enriqueta;
	font-size: 21px;
}