.game{
	//background-color: #342311;
	width: 100%;
	margin-top: 10px;
}

.para{
	//background-color: #123454;
	width: 200px;
	float: left;
	font-family: Open Sans;
}

.image{
	width: 70%;
	margin-bottom: 140px;
	margin-left: 300px;
}

.para a:link{
	color: #000000;
	text-decoration: underline;
}

.para a:visited{
	color: #000000;
	text-decoration: underline;
}